.pos {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  .input-title {
    margin-bottom: 4px;
  }
  .input-box{
    margin-bottom: 10px;
  }
  .big-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
  }
  .biggest-title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .left-container {
    position: relative;
    left: 0;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: flex-start;
    height: 100vh;
    width: 40vw;
    background: #eee;
    .input-line {
      margin-bottom: 10px;
    }
    .big-box{
      padding: 10px 0 0;
      width: 38vw;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
    }
    .el-textarea__inner {
      width: 38vw;
      height: 100px;
    }
    .generate-button {
      position: absolute;
      right: 32px;
      bottom: 60px;
    }
  }
  .right-container {
    height: 100vh;
    background: #ECF5F5;
    width: 60vw;
    padding:15px;
    .img-style{
      overflow: auto;
      height: 20vh;
      padding: 2px;
    }
    .scroll-box{
       overflow: auto;
       height: 15vh;
       padding: 2px;
     }
    .confirm-button1{
      position: absolute;
      right: 28px;
      top: 128px;
    }
    .confirm-button2{
      position: absolute;
      right: 480px;
      bottom: 220px;
    }
    .confirm-button3{
      position: absolute;
      right: 38px;
      bottom: 220px;
    }
    .confirm-box{
      padding: 12px;
      width: 56vw;
      border: 1px solid #ccc;
      height: 15vh;
    }
    .confirm-smallBox{
      padding: 10px;
      width: 26vw;
      border: 1px solid #ccc;
      height: 20vh;
    }
    .bottom-area{
      display: flex;
      flex-flow: row nowrap;
      justify-content: left;
      align-items: flex-start;
      .left-area{
        padding: 10px;
      }
      .right-area{
        padding: 10px;
      }
    }
  }
}
